# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Nix
result
result-*

# Secrets (unencrypted)
*.dec.yaml
*.dec.json

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
